* {
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
}

.cal-outline{
   border: 0.25em solid black;
   border-radius: 16px;
   width: 65vw;
   height: 80vh;
   margin: 1.75em;
   background-color: rgb(157, 167, 167);
}

.display-keys-container {
   display: inline-block;
   justify-content: center;
   padding: 0px 50px 50px;
   width: 70%;
}

.cal-display {
   border: 0.15em solid black;
   border-radius: 16px;
   background-color: rgb(244, 244, 234);
   width: 70%;
   height: 50px;
   margin: 2em auto;
}



.cal-keys {
   display: grid;
   grid-template-columns: 80px 80px 80px 80px;
   column-gap: 10px;
   grid-template-rows: 80px 80px 80px 80px 80px;
   row-gap: 10px;
   justify-content: center;
   padding: 90px ;
   
}

.b-num-dot {
   width: 70px;
   height: 70px;
   

}

.b-num-0 {
   width: 70px;
   height: 70px;
}
.b-num-equals {
   width: 70px;
   height: 70px;
}

.b-num-1 {
   width: 80px;
   height: 80px;
}

.b-num-2 {
   width: 80px;
   height: 80px;
}

.b-num-3 {
   width: 80px;
   height: 80px;
}

.b-num-4 {
   width: 80px;
   height: 80px;
}

.b-num-5 {
   width: 80px;
   height: 80px;
}

.b-num-6 {
   width: 80px;
   height: 80px;
}

.b-num-7 {
   width: 80px;
   height: 80px;
}

.b-num-8 {
   width: 80px;
   height: 80px;
}

.b-num-9 {
   width: 80px;
   height: 80px;
}