body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Main container */
.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* LEFT SIDE */
.left {
    width: 40%;
    background-color: blueviolet;
    color:white;
    padding: 20px;
}

/* RIGHT SIDE */
.right {
    width: 70%;
    padding: 20px;
}

/* Profile image */
.left img {
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

.circle-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px auto;
    border-radius:50%;
}
/* Headings */
h2 {
    margin: 5px 0;
}

h3 {
    border-bottom: 2px solid black; /* underline after heading */
    padding-bottom: 5px;
    margin-top: 20px;
}

/* Paragraph underline (only where needed) */
.section p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

/* Skills side-by-side */
.skills {
    display: flex;
    gap: 50px;
}

/* Lists */
ul {
    padding-left: 20px;
}

/* Text styling */
p {
    margin: 5px 0;
}

/* Projects spacing */
.right p b {
    display: block;
    margin-top: 10px;
}